/* BASIC RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #222;
  position: sticky;
  top: 0;
}

.logo {
  margin: 0;
  color: #61dafb;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.highlight {
  color: #61dafb;
}

.btn {
  background: #61dafb;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 15px;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

/* PROJECTS */
.projects-section {
  padding: 60px 20px;
  text-align: center;
}

.project-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.project-card {
  background: #222;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  text-align: center;
}

/* CONTACT */
.contact-section {
  padding: 40px 20px;
  text-align: center;
  background: #222;
}
